.navbar {
    background-color: #59acff;
    padding: 1rem;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 1rem;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: fantasy
  }
  
  .navbar a:hover {
    color: rgb(10, 58, 217);
  }